<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<nav class="navbar">
    <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#resume">Resume</a></li>
    </ul>
</nav>
<div class="main-container">
    <div class="row">
        <div class="col-md-6 left">
            <div class="line"></div>

            <h4>Hi, I am</h4>
            <p>Praneetha</p>
            <div class="circle-left"></div>
        </div>
        <div class="col-md-6 right">
            <div class="circle"></div>
            <p>Ravi</p>
            <h1>Full Stack Developer<strong style="color:#FF6F61">.</strong></h1>
            <div class="triangle"></div>
            <div class="rotated-rectangle"></div>
        </div>
    </div>
</div>
<section id="about" class="about-section">
    <div class="about-container">
        <div class="row aboutrow">
            <div class="col-md-6 aboutleft">
                <p>
                    Hello! I am <strong>Praneetha Ravi</strong>, a <strong>Full Stack Developer</strong> located in Albany,
                    NY<strong style="color:#FF6F61;">.</strong>
                    My journey in web development began with crafting simple static websites and has evolved into developing
                    comprehensive applications<strong style="color:#FF6F61;">.</strong>
                    This journey has been both exciting and challenging, and I've cherished every moment!
                </p>
                <p style="margin-top: 70px;">
                    I enjoy collaborating with small businesses and artists to create websites that not only mirror their
                    unique style but also define their business's character<strong style="color:#FF6F61;">.</strong>
                    My passion for <strong>design</strong> drives me to continuously learn and ensure that my applications
                    are not only functional but also aesthetically pleasing<strong style="color:#FF6F61;">.</strong>
                    I hold a <strong>Master's</strong> degree in <strong>Computer Science</strong> and have accumulated more
                    than <strong>two</strong> years of professional experience<strong style="color:#FF6F61;">.</strong>

                </p>
            </div>
            <div class="col-md-6 aboutright">
                <div class="skills">
                    <div class="row skillrow">
                        <p class="skill">Angular</p>
                        <p class="skill">ASP.NET</p>
                        <p class="skill">HTML</p>
                    </div>
                    <div class="row skillrow">
                        <p class="skill">React</p>
                        <p class="skill">Spring</p>
                        <p class="skill">Node JS</p>
                    </div>
                    <div class="row skillrow">
                        <p class="skill">Java</p>
                        <p class="skill">CSS</p>
                        <p class="skill">Bootstrap</p>
                    </div>
                    <div class="row skillrow">
                        <p class="skill">Mongo DB</p>
                        <p class="skill">Postgre</p>
                        <p class="skill">SQL</p>
                    </div>
                </div>
              </div>
              
              
        </div>
    </div>
</section>
<section id="experience" class="experience-section">
    <div class="experience-container">
        <h2>Experience</h2>

    </div>
</section>
<section id="projects" class="projects-section">
    <div class="projects-container">
        <h2>Projects</h2>
        <div class="row">
            <div class="col-md-6 project1left">

            </div>
            <div class="col-md-6 project1right">

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 project2left">

            </div>
            <div class="col-md-6 project2right">

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 project3left">

            </div>
            <div class="col-md-6 project3right">

            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact-section">
    <div class="contact-container">
        <div class="row">
            <div class="col-md-6 contactleft">
                <h1>Hello<strong style="color:#FF6F61;">.</strong></h1>
                <!-- hexagon.component.html -->

                <h3>"Ready to chat? Send me a good old-fashioned message or Launch an email. Can't wait to hear from
                    you!"</h3>
            </div>
            <div class="col-md-6 contactright">
                <div class="contact-form">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" name="name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" id="email" name="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group message">
                                <label for="message">Message</label>
                                <textarea class="textarea is-large" name="message" rows="4" required=""
                                    spellcheck="false"></textarea>
                            </div>
                        </div>
                        <button class="btn" type="submit">Send A Message</button>
                    </form>
                    <div class="social-icons">
                        <i class="fas fa-envelope fa-2x" style="color: #0082ca;"></i>
                        <i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i>
                        <i class="fab fa-linkedin-in fa-2x" style="color: #0082ca;"></i>
                        <i class="fab fa-github fa-2x" style="color: #333333;"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>