body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 200px;
    height: 80vh;
    min-width: 100vw;
    background-color: #19747E;
    display: flex;
    align-items: center;
}

.subtext1, h4 {
    color: #BEFBFF;
}

.p1 {
    color: #fff;
    font-weight: bold;
    font-size: 130px;
    line-height: 195px;
    font-family: 'Merriweather';
}

#stackAnimation {
    width: 200px;
    height: 400px;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
}


#stackAnimation {
    width: 200px;
    height: 280px;
    border: 3px solid #BEFBFF;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border-top: none;
    display: flex;
    justify-content: center;
}

.rectangle {
    width: 90%; 
    height: 40px;
    background-color: #BEFBFF;
    border-radius: 10px;
    position: absolute;
    margin-bottom: 5px; 
    top: -20px; /* Start above the container */
    animation: drop 1s ease-out forwards; /* Animation named 'drop' */
}

@keyframes drop {
    0% {
        top: -20px; /* Start position */
    }
    100% {
        top: 230px; /* End position - change this based on where you want it to stop */
    }
}
