body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.main-container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFD0B8; 
}

.row {
    display: flex;
}
  
.left, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left p,.right p{
   font-family: 'Cantata One';
   font-size: 100px;
   line-height: 180px;
   font-weight: bold;
}

.left {
    justify-content: center;
    align-items: flex-end;
    display: flex;
    background-color: #153448;
    color: #DFD0B8;
    margin: 200px 0;
}


.right {
    padding-left: 30px;
    padding-top: 400px;
    background-color: #DFD0B8;
    color: #153448;
}

h4{
    padding-right: 550px;
    font-family: 'Sedan';
}
h1 {
    font-size: 28px;
    font-family: 'Sedan';
}
  
  

  
nav {
    overflow: hidden;
}
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0 10px;
    background-color: transparent; 
}

.navbar ul {
    color: #153448;
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    height: 90px;
    margin: 0;
}.navbar li {
    padding: 10px 20px 10px 10px; /* Padding adjusted for visual balance */
    font-size: 1.0em;
    font-weight: bold;
    font-family: 'Sedan';
    position: relative;
    margin-right: 20px; /* Space between navbar items */
}

.navbar a {
    color: #153448;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
    background-color: transparent; /* Ensure links don't have a background */
}

.navbar.dark-theme li a {
    color: #DFD0B8; 
  }
.navbar a:hover {
    background-color: transparent;
    animation: bounce 1s forwards;
}
.navbar-brand img{
   width: 80px;
   height: 80px;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.triangle {
    width: 0;  
    margin-top: 200px;
    margin-left: 200px;
    height: 0;
    transform-origin: 50% 100%; 
    transform: rotate(45deg) translate(-50%, -50%);; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent; 
    border-top: 100px solid #153448;
    animation: slideIn 2s ease-out forwards; 
}

.rotated-rectangle {
    width: 200px; 
    height: 200px; 
    background-color: #153448; 
    transform: rotate(45deg); 
    transform-origin: center; 
    position: relative;
    top: 50px; 
    left: 550px; 
}

.circle {
    margin-left: 600px;
    width: 100px;
    height: 100px;
    background-color: #153448; 
    border-radius: 50%; 
    animation: slideIn 2s ease-out forwards; 
}


.circle-left {
    margin-top: 400px;
    margin-right: 600px;
    width: 95px; 
    height: 95px;
    background-color: #DFD0B8; 
    border-radius: 50%; 
    animation: slideInLeft 2s ease-out forwards; 
}
.line {
    margin-right: 800px;
    width: 30%; 
    height: 5px;
    background-color: #DFD0B8; 
    transform: rotate(45deg); 
    animation: slideInLeft 2s ease-out forwards; 
}

@media (max-width: 768px) {
    .circle, .circle-left {
        width: 50px;
        height: 50px;
    }

    .triangle {
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 50px solid #FF6F61;
    }

    .rotated-rectangle {
        width: 100px;
        height: 25px;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100vw) translateY(-100vh); 
    }
    to {
        transform: translateX(0) translateY(0);
    }
}


@keyframes slideInLeft {
    from {
        transform: translateX(-100vw) translateY(100vh);
    }
    to {
        transform: translateX(0) translateY(0);
    }
}

.experience-section {
    min-height: 100vh;
    background-color: #153448;
    color: #DFD0B8;
    padding: 50px 0; 
}

.experience-container {
    width: 80%; 
    margin: 0 auto; 
    margin-left: 120px;
}

.about-section{
    background-color: #DFD0B8;
    min-height: 100vh;
}
.about-container {
    padding: 0;
    margin: 0;
}
.aboutrow{
    font-family: 'Sedan';
    font-size: 1.4em;
    color: #153448;
    padding: 300px 200px;
}

.aboutleft{
    padding: 20px;
}

.aboutright{
    padding-left: 130px;
    display: flex;
    justify-content: center;
}


.skillrow{
    padding: 20px;
    margin:0;
}
.experience-date::before {
    content: '';
    position: absolute;
    top: 0;
    left: -25px; /* Adjust based on your layout */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
}

@media (max-width: 768px) {
    .experience-date::before {
        left: calc(50% - 5px); /* Center the circle */
    }
}


.skills .skill {
    display: flex;
    justify-content: center;
    width: 100%; /* Use 100% width for small screens */
    max-width: 140px; /* Limit max width for larger screens */
    height: 50px;
    margin: 15px auto; /* Centering it */
    padding: 5px 10px;
    border: 2px solid #153448;
    box-shadow: 5px 10px #FF6F61;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .skills .skill {
        width: 90%; /* Make skill boxes wider on small screens */
        margin: 10px auto;
        padding: 10px;
    }
}
  @keyframes shadowRise {
    0% {
        box-shadow: 5px 20px #DFD0B8; /* Start with the shadow lower and more spread */
    }
    100% {
        box-shadow: 5px 10px #FF6F61; /* End with the shadow closer and less spread */
    }
}
@keyframes strongslide {
    from {
        transform: translateX(100vw) translateY(-100vh); 
    }
    to {
        transform: translateX(0) translateY(0);
    }
}
.projects-section {
    min-height: 100vh;
    background-color: #DFD0B8;
    padding: 50px 0; 
}

.projects-container {
    width: 80%; 
    margin: 0 auto; 
    margin-left: 120px;
}
.contact-section{
    min-height: 100vh;
    background-color: #153448;
    color: #DFD0B8;
}
.contactleft{
    min-height: 100vh;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactleft h1{
    font-family: 'Sedan';
    font-size: 10.0em;
    padding: 20px;

}


.contactleft h3{
    margin:10px 320px;
    color: #FF6F61;
    font-size: 0.9em;
}

.contactright{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form{
    background-color: #DFD0B8;
    height: 800px;
    width: 1000px;
    padding: 100px;
    margin-right:30px ;
}

.form-group > label {
    color: #153448;
    font-family: 'Sedan';
    font-size: 1.3em;
    padding-bottom: 10px;
    padding-top: 30px;
}


.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the left */
}

.form-group input{
    color: #153448;
    max-width: 100%;
    min-width: 100%;
    font-family: 'Sedan';
    font-size: 1.8em;
    border: 2px solid #153448;
    border-radius: 8px;
}


  textarea{
    font-size: 1.8em;
    display: block;
    max-width: 100%;
    min-width: 100%;
    resize: vertical;
    border: 2px solid #153448;
    border-radius: 8px;
}
.social-icons i{
    padding: 20px;
    padding-top: 30px;
}

.btn{
    padding: 20px;
    margin: 50px 0;
    border: 3px solid #153448;
    color: #153448;
    font-size: 1.5em;
    font-family: 'Sedan';
    font-weight: bold;
}

.btn:hover{
    background-color: #FF6F61;
    color: #153448;
    font-size: 1.5em;
    font-family: 'Sedan';
    font-weight: bold;
}
.experience-container {
    margin: auto;
    position: relative;
    width: 100%; 
}

.experiencerow {
    padding-left: 70px;
    margin: 60px;
    display: flex;
    align-items: center;
}

.experience-date {
    flex-basis: 10%; /* Allocates 10% of the flex container’s space to the date */
    text-align: right;
    position: relative;
    padding-right: 20px;
    opacity: 0; /* Start fully transparent */
    transform: translateX(-100%);
    animation: slideInLeft 0.5s forwards;
}


@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fillCircle {
    0% {
        background: transparent; /* Circle starts transparent */
    }
    100% {
        background: #FF6F61; /* Circle fills with color */
    }
}

.experience-date h3 {
    font-size: 1.3em;
    font-family: 'Sedan';
    margin: 0;
    position: relative;
    z-index: 2; /* Ensures the text is above the line */
    color: #DFD0B8; /* Brings the text above the line */
}


.experience-date::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -42px; /* Position the circle correctly */
    width: 15px;
    height: 15px;
    border: 3px solid #FF6F61; /* Makes the circle hollow */
    border-radius: 50%;
    z-index: 1;
    transform: translateY(-50%); /* Centers the circle vertically relative to the date */
    background: transparent; /* Start with a transparent background */
    animation: fillCircle 0.5s 0.5s forwards; /* Delay the start to sync with the slide-in */
}

.experience-description {
    flex-grow: 1; /* Allows the description to take up the rest of the space */
    padding-left: 300px; /* Space after the line */
    position: relative;
    top: -10px; /* Moves the description slightly up to align with the date */
}

.experience-description strong {
    opacity: 0;
    transform: translateX(100%); 
    animation: slideInRight 1s forwards;
}

@keyframes slideInRight {
    0% {
        opacity: 0; /* Start fully transparent */
        transform: translateX(100vw) translateY(-100vh);/* Start from 100% to the right */
    }
    100% {
        opacity: 1; /* Fully opaque */
        transform: translateX(0); /* Move to original position */
    }
}

.experience-description h3 {
    font-family: 'Sedan';
    margin-top: 0;
}

.experience-container::before {
    content: '';
    position: absolute;
    left: 17%; /* Aligns with the flex-basis of the date section */
    top: 0;
    bottom: 0;
    width: 2px;
    background: #FF6F61; /* Adjusts the color of the line */
}

ul{
    font-family: 'Sedan';
    font-size: 1.3em;
    list-style-type: square;
    color: #ebe2d4;
}

.projects-container{
    padding: 90px;
}
.projectrow{
    padding-bottom: 150px;
}
.projects-container img{
    border: 10px solid #ebe2d4;
    border-radius: 30px;
    width: 750.99px;
    height: 451.15px;
    padding: 2px;
     max-width: 100%; 
}

.project1right,.project2left,.project3right{
    padding: 100px;
    font-family: 'Sedan';
}
.project1right p,.project2left p,.project3right p{
    font-size: 1.3em;
    color: #153448;
}

.project1right h1,.project2left h1,.project3right h1{
    color: #FF6F61;
    font-weight: bold;
}
